.weather{
    place-self: center ;
    padding: 40px ;
    border-radius: 10px;
    background-image: linear-gradient(45deg ,#2f4680, #500ea4);
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.search-bar{
    display: flex ;
    align-items: center;
    gap: 10px;

}

.search-bar input {
    border: none ;
    height: 50px ;
    padding-left: 25px  ;
    outline: none;
    border-radius: 30px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;

}

.search-bar img{
    width: 50px;
    background-color: #ebfffc;
    border-radius: 50%;
    padding: 15px ;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0px;
}

.temprature{
    color: #fff;
    font-size: 70px;
    line-height: 1;
}

.location{
    color: #fff;
    font-size: 40px;
}

.weather-data{
    width: 100%;
    display: flex;
    margin-top: 40px;
    color: #fff;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items:  flex-start;
    gap: 12px ;
    font-size: 22px;
}

.weather-data .col span {
    font-size: 16px ;
    display: block;
}

.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}